@font-face {
  font-family: troika;
  src:url("../resources/troika.otf");
}

@font-face {
  font-family: open-sans;
  src:url("../resources/OpenSans-Regular.ttf");
}

@font-face {
  font-family: open-sans-extrabold;
  src:url("../resources/OpenSans-ExtraBold.ttf");
}

html, body {
  height: 100%;
  font-family: troika, open-sans-extrabold, sans-serif;
  background-image:url("../resources/bg-fill.png");
}

p {
  font-family: open-sans, sans-serif;
  font-size: 0.9em;
}

a {
  color: #4ec1ea;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #313f54;
}

#result p {
  font-family: open-sans-extrabold, sans-serif;
}

#donkey-container {
  position: absolute;
  visibility: hidden;
  width:90%;
  bottom: -16%;
  left: -5%;
  pointer-events: none;
}

#donkey-container img {
  z-index: 100;
  display: block;
  width:45%;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  #donkey-container {
    visibility: visible;
    bottom: -3%;
  }
}

/* Larger than tablet */
@media (min-width: 1000px) {
  #donkey-container {
    bottom: -16%;
  }
}


#top-bar {
  -webkit-clip-path: url("#polygon-clipping-topbar");
  clip-path: url("#polygon-clipping-topbar");
  width: 100%;
  /*background-color: #d93328;*/
  background-image:url("../resources/red.png");
  background-size:20%;
}

#bottom-bar {
  -webkit-clip-path: url("#polygon-clipping-bottombar");
  clip-path: url("#polygon-clipping-bottombar");
  width: 100%;
  /*background-color: #165477;*/
  margin-top: -2%;
  background-image: url("../resources/red.png");
  background-size:20%;
  color: #e1d4c0;
}

#bottom-bar h2 {
  margin-top: 100px;
  width: 80%;
}


@media (min-width: 750px) {
  #bottom-bar h2{
    margin-top:0px;
  }
}

@media (min-width: 1000px) {
  #bottom-bar h2{
    width:auto;
  }
}

#content {
  position: relative;
}

.button {
  border-color: #9c3933;
  color: #9c3933;
  font-size: 1em;
}

.button:hover {
  border-color: #47add1;
  color: #47add1;
}

/* Courtesy of stackoverflow @
 https://stackoverflow.com/questions/5915023/preventing-images-and-text-to-be-selected */
.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.selectEnable {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}
