p { font-size: 2.25em; }
h1 { font-size: 6.0rem; }
h2 { font-size: 5.2rem; }
h3 { font-size: 4.6rem; }
h4 { font-size: 4.0rem; }
h5 { font-size: 3.4rem; }
h6 { font-size: 2.5rem; }

#top-bar{
  background-size: 50%;
  color: #e1d4c0;
  text-align: center;
}

p button{
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  padding: 0;
  border: none;
  border-color: #9c3933;
  color: #9c3933;
}

p button:hover{
  border-color: #47add1;
  color: #47add1;
}

#top-bar h2 {
  color: #e1d4c0;
}

#explanation, #results{
  width:100%;
}

#content {
  padding: 50px;
  text-align: justify;
}

#bottom-bar {
  background-size: 50%;
}

#bottom-bar .row{
  padding:25px;
  padding-bottom: 0;
}

.button {
  font-size: 3.4em;
  height:100px;
  width:auto;
  border-width: thick;
  margin-top: 1em;
  margin-bottom: 1em;
}
