textarea{
  resize: vertical;
  word-wrap: break-word;
}

label#security-level-string{
  text-shadow: 1px 1px #00000055;
}

.tip {
  font-size: 90%;
  font-style: italic;
}

.value {
  text-align: center;
}

.button {
  border-color: #67787c;
  color: #323e52;
  border-width:thin;
  border-radius:0;
  font-size: 0.8em;
}

.button:hover {
  border-color: #47add1;
  color: #47add1;
}

.button-primary {
  border-color: #4ec1ea;
  background-color: #4ec1ea;
}

.button-primary:hover {
  border-color: #353a4f;
  background-color: #353a4f;
}

#logo {
  display: inline-block;
  width:128px;
  height:128px;
}

#title {
  display: inline-block;
}

#page-head{
  text-align: center;
}
